{% extends 'layouts/base.html' %}

{% block content %}
<h2>Add Product</h2>
<form method="POST" action="/addProductForm" class="container mt-5">
    <div class="mb-3">
        <label for="productId" class="form-label">Product ID</label>
        <input id="productId" name="pid" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label for="productName" class="form-label">Product Name</label>
        <input id="productName" name="pname" type="text" class="form-control">
    </div>
    <div class="mb-3">
        <label for="productDescription" class="form-label">Description</label>
        <textarea id="productDescription" name="pdescription" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="unitp" class="form-label">Unit Price</label>
        <input id="unitp" name="unitprice" class="form-control" ></input>
    </div>
    <div class="mb-3">
        <label for="productCategory" class="form-label">Category</label>
        <select id="productCategory" name="pcategory" class="form-control">
            <option value="">Choose a category</option>
            <option value="Tools">Tools</option>
            <option value="Spices">Spices</option>
            <option value="Meats">Meats</option>
            <option value="Seeds">Seeds</option>
            <option value="Animal Feed">Animal Feed</option>
            <option value="Fruits">Fruits</option>
            <option value="Raw Materials">Raw Materials</option>
            <option value="Grains">Grains</option>
            <option value="Vegetables">Vegetables</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="productQuantity" class="form-label">Quantity</label>
        <input id="productQuantity" name="pquantity" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label for="productQuantity" class="form-label">Image Link</label>
        <input id="productQuantity" name="urlimage" type="text" class="form-control">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="verifyCheck" name="verify">
        <label class="form-check-label" for="verifyCheck">I verify that I want to add this product</label>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Add Product</button>
    </div>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock content %}
