{% extends 'layouts/base.html' %}

{% block content %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("search-button").addEventListener("click", function(event) {
            event.preventDefault(); 
            sProduct();
        });
    });

    function sProduct() {
        var searchQuery = document.getElementById("search-query").value.trim();
        var searchType = isNaN(parseInt(searchQuery)) ? 'PName' : 'PID'; 

        var searchURL = "/sProduct?" + searchType + "=" + encodeURIComponent(searchQuery);

        fetch(searchURL, {
            method: "GET",
        }).then(response => response.text()).then(data => {
            document.getElementById("search-results").innerHTML = data;
        }).catch(error => {
            console.error('Error:', error);
            document.getElementById("search-results").innerHTML = '<p>Error loading results.</p>';
        });
    }
</script>

<style>
    #search-button {
        background-color: black; 
        color: white; 
    }
    
    .search-container {
        margin-top: 50px; 
    }
</style>

<div class="container search-container">
    <h2>Search for a Product</h2>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="search-query" type="search" name="search_query" placeholder="Type in product name or product ID" aria-label="Search" required>
        <button class="btn my-2 my-sm-0" id="search-button" style="margin-top: 20px;" type="submit">Search</button>
    </form>
</div>

<div class="container mt-4" id="search-results">
</div>

{% endblock content %}
