{% extends 'layouts/base.html' %}

{% block content %}
    <h2>Delete Order</h2>

    <form method="POST" action="/deleteShipping">
        <div class="mb-3">
            <label for="SID" class="form-label">Shipping ID of the Shipping Record you would like to delete</label>
            <input name="SID" type="integer" class="form-control" id="SID" placeholder="###">
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Delete</button>
        </div>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock content %}