{% extends "layouts/base.html" %}

{% block title %} My Store - Home {% endblock title %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/assets/img/BlacksburgFM.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper"></span>
                            <span class="section-heading-lower">Hello!</span>
                        </h2>
                        <p class="mb-3">Welcome to my BIT 4444 Final project where we represent Blacksburg Farm Market. We possess a variety of goods for sale and for holding!</p>
                        <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Purpose</span>
                            </h2>
                            <p class="mb-0">This is the home page, like this, each webpage as a function of Use Case 4. This part of the Project controls shipping and vendor information, specifically Shipping Record Management.</p>
                        </div>
                    </div>
                </div>
            </div>
{% endblock content %}
